.container {
  margin: 0px;
  padding: 0px; }

.effects {
  display: flex;
  background-color: #47191E;
  justify-content: space-around;
  width: 100%; }

.logoHeader {
  padding: 3%;
  flex-grow: 0.3; }

.bannerHeader {
  padding: 2%;
  flex-grow: 50%; }

.navBar {
  background-color: #000;
  width: 100%;
  display: flex; }

.navBarFormat {
  font-size: 20px;
  display: inline-block;
  padding-right: 0px;
  margin-left: 60px; }

.active {
  color: white;
  text-decoration: none; }

.currentTime {
  width: 96%;
  text-align: right; }

.GroupTop {
  display: flex;
  justify-content: space-between;
  margin-left: 7.3%;
  margin-right: 5%; }

.groupBottom {
  display: flex;
  justify-content: space-between; }

.Group1 {
  margin-left: 0.4%;
  display: flex;
  justify-content: space-around;
  flex-flow: wrap; }

.Group2 {
  margin-left: 8%;
  margin-right: 0.5%;
  display: flex;
  justify-content: space-around;
  flex-flow: wrap; }

.columnRight1 {
  width: 150px;
  height: 455px;
  margin-left: 10%; }

.columnRight2 {
  width: 150px;
  height: 910px;
  margin-right: 55px; }

.navBarTopNews {
  background-color: grey;
  width: 88%;
  margin-left: 8%; }

.navBarFormatTopNews {
  font-size: 20px;
  display: inline-block; }

.activeTopNews {
  color: white;
  text-decoration: none; }

.popular {
  background-color: grey;
  width: 100%;
  height: 30px; }

.popular p {
  font-size: 20px;
  color: white;
  margin-top: 3px;
  margin-left: 40px; }

.FirstRow {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-flow: wrap; }

.imageAndText {
  position: relative; }

.textAlignmentFirstRow {
  background-color: #000;
  color: white;
  position: absolute;
  bottom: 0px;
  width: 300px;
  height: 50px;
  margin: 2%; }

.SecondRow {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-flow: wrap; }

.textAlignmentSecondRow {
  background-color: #000;
  color: white;
  position: absolute;
  bottom: 0px;
  width: 300px;
  height: 50px;
  margin: 2%; }

.images1 {
  width: 300px;
  height: 200px;
  margin: 2%; }

.imagesToHide {
  width: 300px;
  height: 200px;
  margin-left: 5px;
  display: none; }

.developer {
  width: 75%;
  margin-left: 16%; }

.images2 {
  width: 450px;
  height: 450px; }

.textAlignmentFirstRow2 {
  background-color: #000;
  color: white;
  position: absolute;
  bottom: 5px;
  width: 450px;
  height: 100px; }

.textAlignmentSecondRow2 {
  background-color: #000;
  color: white;
  position: absolute;
  bottom: -20px;
  width: 450px;
  height: 100px; }

.imageAndText2 {
  position: relative;
  font-size: 20px; }

.FirstRow2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-flow: wrap; }

.SecondRow2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-flow: wrap; }

.navBarFooter {
  background-color: #000;
  width: 100%;
  display: flex; }

.navBarFormatFooter {
  font-size: 20px;
  display: inline-block;
  padding-right: 0px;
  margin-left: 10px; }

.activeFooter {
  color: white;
  text-decoration: none; }

.effectsfooter {
  background-color: #000;
  justify-content: space-around;
  width: 100%; }

.logofooter {
  width: 100%;
  text-align: right; }

.logoCopyright {
  width: 100%;
  text-align: center;
  color: white; }

.navBarPopularFooter {
  background-color: grey;
  width: 100%; }

.navBarFormatPopularFooter {
  font-size: 20px;
  display: inline-block; }

@media (min-width: 320px) and (max-width: 480px) {
  .navBarFormat {
    font-size: 20px;
    display: inline-block;
    padding-right: 0px;
    margin-left: 10px; }

  .columnRight1 {
    display: none; }

  .columnRight2 {
    display: none; }

  .newsToHide {
    display: none; }

  .imagesToHide {
    display: block;
    width: 300px;
    height: 200px; }

  .banner3 {
    display: none; }

  .bannerHeader {
    display: none; }

  .currentTime {
    display: none; }

  .images2 {
    width: 300px;
    height: 200px;
    margin: 2%; }

  .textAlignmentSecondRow2 {
    background-color: #000;
    color: white;
    position: absolute;
    bottom: -14px;
    width: 300px;
    height: 50px;
    margin: 2%; }

  .textAlignmentFirstRow2 {
    background-color: #000;
    color: white;
    position: absolute;
    bottom: 0px;
    width: 300px;
    height: 50px;
    margin: 2%;
    margin-bottom: 2%; }

  .imageAndText2 {
    position: relative;
    font-size: 18px; }

  .imageAndText2:hover {
    width: none;
    height: none; }

  .navBarFormatFooter {
    margin-left: 40px;
    padding-right: 20px; }

  .logoHeader {
    -webkit-transition: width 3s, height 3s, -webkit-transform 3s;
    transition: width 3s, height 3s, transform 3s;
    transition-timing-function: ease-in-out; }

  .logoHeader:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    transition-timing-function: ease-in-out; } }

/*# sourceMappingURL=style.css.map */
